<% include ../partials/header %>

    <div class="jumbotron" style="margin-top: 30px">
        <h1 class="display-3">Quiz 2</h1>
        <p class="lead">Krittayot Anuboot 5930213038</p>
        <hr class="my-2">
        <p>More info</p>
         <p class="lead">
            <a class="btn btn-primary btn-lg" href="/student" role="button">Student</a>
               <a class="btn btn-primary btn-lg" href="/subject" role="button">Subject</a>
         </p>
    </div>

<% include ../partials/footer %>